BASEPATH=
NEXT_PUBLIC_APP_URL=http://localhost:3000${BASEPATH}
NEXT_PUBLIC_DOCS_URL=https://demos.pixinvent.com/vuexy-nextjs-admin-template/documentation
NEXTAUTH_BASEPATH=${BASEPATH}/api/auth
NEXTAUTH_URL=http://localhost:3000${BASEPATH}/api/auth
NEXTAUTH_SECRET=123456
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DATABASE_URL=
API_URL=http://192.168.100.35:20184/api-gateway
NEXT_PUBLIC_API_URL=${API_URL}
FILE_SERVICE_BASE_URL=https://files.laoworld.la
UPLOAD_BACKEND_KEY=
UPLOAD_PLATFORM_KEY=


